.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1rem;
  display:flex;
  align-items: baseline;
  justify-content: space-between;

  .logo {
    font-family: "Playfair Display", Georgia, serif;
    font-size: 2.5rem;
    padding-left: 1rem;
  }

  .language {
    margin-right: 15px;
    button {
      margin-left: 10px;
    }
  }
}
